@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #005F40;
  /* Ocultar la barra de scroll en IE and Edge */
  -ms-overflow-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Ocultar la barra de scroll en navegadores basados en WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Ocultar la barra de scroll en Firefox */
html {
  scrollbar-width: none; /* Firefox */
}

/* Ocultar la barra de scroll en Internet Explorer y Edge */
body {
}
